@page "/"

<h3>Tres en Raya</h3>
<hr />

<div class="container">
    <div class="row">
        <div class="alert alert-light" role="alert">Turno del Jugador 1</div>
        <div class="alert alert-light" role="alert">Turno del Jugador 2</div>
    </div>
    <div class="row message-win">
        <div class="alert message-game" role="alert">Jugador 1 Ganador</div>
        <div class="alert message-game" role="alert">Jugador 2 Ganador!</div>
        <div class="alert message-game" role="alert">Empate</div>
    </div>
    <div>
        <div class="row first-row">
            <button class="btn btn-outline-warning btn-size btn-font"></button>
            <button class="btn btn-outline-warning btn-size btn-font"></button>
            <button class="btn btn-outline-warning btn-size btn-font"></button>
        </div>
        <div class="row">
            <button class="btn btn-outline-warning btn-size btn-font"></button>
            <button class="btn btn-outline-warning btn-size btn-font"></button>
            <button class="btn btn-outline-warning btn-size btn-font"></button>
        </div>
        <div class="row">
            <button class="btn btn-outline-warning btn-size btn-font"></button>
            <button class="btn btn-outline-warning btn-size btn-font"></button>
            <button class="btn btn-outline-warning btn-size btn-font"></button>
        </div>
    </div><br />
    <div class="row centered">
        <button class="btn btn-info m-1">Nuevo juego</button>
    </div>
</div>
